<?xml version="1.0" encoding="utf-8" ?>
<c2layout>
    <name>menu</name>
    <sid>555416418751918</sid>
    <event-sheet>menu</event-sheet>
    <size>
        <width>1280</width>
        <height>720</height>
    </size>
    <margins>
        <horizontal>500</horizontal>
        <vertical>500</vertical>
    </margins>
    <unbounded-scrolling>0</unbounded-scrolling>
    <layers>
        <layer name="background" sid="357979097222485">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="backgrounds" uid="80">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>8</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>855</x>
                        <y>0</y>
                        <z>0</z>
                        <width>425</width>
                        <height>640</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="backgrounds" uid="74">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>1</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>0</y>
                        <z>0</z>
                        <width>425</width>
                        <height>608</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="sf76_white" uid="3">
                    <properties>
                        <character-width>64</character-width>
                        <character-height>85</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:?!-_~#&quot;&apos;&amp;()[]|`\/@°+=*$£€&lt;&gt;АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя</character-set>
                        <text>Press start</text>
                        <scale>0.5</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <class></class>
                        <value>0</value>
                        <number>0</number>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>448</x>
                        <y>640</y>
                        <z>0</z>
                        <width>480</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="backgrounds" uid="83">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>4</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>425</x>
                        <y>0</y>
                        <z>0</z>
                        <width>430</width>
                        <height>640</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="buildings2" uid="94">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>100</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Contrast">
                            <parameters>
                                <contrast>0.5</contrast>
                            </parameters>
                        </effect-instance>
                        <effect-instance type="Brightness">
                            <parameters>
                                <brightness>0.75</brightness>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>465</y>
                        <z>0</z>
                        <width>1278</width>
                        <height>255</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="bg_windows2" uid="95">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>100</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>513</y>
                        <z>0</z>
                        <width>1273</width>
                        <height>199</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="buildings2" uid="91">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>100</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Contrast">
                            <parameters>
                                <contrast>0.9</contrast>
                            </parameters>
                        </effect-instance>
                        <effect-instance type="Brightness">
                            <parameters>
                                <brightness>1</brightness>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>465</y>
                        <z>0</z>
                        <width>855</width>
                        <height>255</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="buildings2" uid="36">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>-50</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <effect-instances>
                        <effect-instance type="Contrast">
                            <parameters>
                                <contrast>0.5</contrast>
                            </parameters>
                        </effect-instance>
                        <effect-instance type="Brightness">
                            <parameters>
                                <brightness>0.75</brightness>
                            </parameters>
                        </effect-instance>
                    </effect-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>465</y>
                        <z>0</z>
                        <width>416</width>
                        <height>255</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="bg_windows2" uid="107">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>-50</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>465</y>
                        <z>0</z>
                        <width>416</width>
                        <height>255</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="8">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>419</x>
                        <y>361</y>
                        <z>0</z>
                        <width>10</width>
                        <height>720</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite" uid="84">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>860</x>
                        <y>360</y>
                        <z>0</z>
                        <width>10</width>
                        <height>720</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="wall" uid="85">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>576</y>
                        <z>0</z>
                        <width>352</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="wall" uid="86">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1024</x>
                        <y>608</y>
                        <z>0</z>
                        <width>256</width>
                        <height>128</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="roof" uid="87">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>-192</x>
                        <y>545</y>
                        <z>0</z>
                        <width>576</width>
                        <height>31</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="roof" uid="88">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <hotspot>Top-left</hotspot>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Solid">
                            <properties>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>992</x>
                        <y>577</y>
                        <z>0</z>
                        <width>288</width>
                        <height>31</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="windows" uid="89">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>1</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>224</x>
                        <y>736</y>
                        <z>0</z>
                        <width>128</width>
                        <height>192</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="windows" uid="90">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1184</x>
                        <y>768</y>
                        <z>0</z>
                        <width>128</width>
                        <height>192</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="windows" uid="92">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <behavior-instances>
                        <behavior-instance type="Bullet">
                            <properties>
                                <speed>0</speed>
                                <acceleration>0</acceleration>
                                <gravity>0</gravity>
                                <bounce-off-solids>No</bounce-off-solids>
                                <set-angle>No</set-angle>
                                <initial-state>Enabled</initial-state>
                            </properties>
                        </behavior-instance>
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>0</x>
                        <y>736</y>
                        <z>0</z>
                        <width>128</width>
                        <height>192</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="gui" sid="646490396147375">
            <initially-visible>1</initially-visible>
            <background-color>255,255,255</background-color>
            <transparent>1</transparent>
            <parallax>
                <x>1</x>
                <y>1</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>0</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances>
                <instance type="buttons" uid="35">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>2</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <instance-variables>
                        <class>start</class>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>640</x>
                        <y>384</y>
                        <z>0</z>
                        <width>256</width>
                        <height>90</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="Sprite6" uid="38">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>288</x>
                        <y>512</y>
                        <z>0</z>
                        <width>160</width>
                        <height>160</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="heart" uid="65">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1216</x>
                        <y>64</y>
                        <z>0</z>
                        <width>96</width>
                        <height>90</height>
                        <depth>0</depth>
                        <hotspotX>0.5</hotspotX>
                        <hotspotY>0.5</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="title" uid="9">
                    <properties>
                        <initial-visibility>Visible</initial-visibility>
                        <initial-animation>Default</initial-animation>
                        <initial-frame>0</initial-frame>
                        <collisions>Enabled</collisions>
                    </properties>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>654</x>
                        <y>163</y>
                        <z>0</z>
                        <width>780</width>
                        <height>206.834197998</height>
                        <depth>0</depth>
                        <hotspotX>0.500703216</hotspotX>
                        <hotspotY>0.502617776</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="sf76_white" uid="106">
                    <properties>
                        <character-width>64</character-width>
                        <character-height>85</character-height>
                        <character-set>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789.,;:?!-_~#&quot;&apos;&amp;()[]|`\/@°+=*$£€&lt;&gt;АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯабвгдеёжзийклмнопрстуфхцчшщъыьэюя</character-set>
                        <text>&amp;</text>
                        <scale>1</scale>
                        <initial-visibility>Visible</initial-visibility>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <character-spacing>0</character-spacing>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <class>heart</class>
                        <value>0</value>
                        <number>0</number>
                    </instance-variables>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>1088</x>
                        <y>32</y>
                        <z>0</z>
                        <width>96</width>
                        <height>96</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
                <instance type="text" uid="32">
                    <properties>
                        <text>v.12.02.O.2</text>
                        <initial-visibility>Visible</initial-visibility>
                        <font>Arial,-27,400,0</font>
                        <color>0,0,0</color>
                        <horizontal-alignment>Left</horizontal-alignment>
                        <vertical-alignment>Top</vertical-alignment>
                        <hotspot>Top-left</hotspot>
                        <wrapping>Word</wrapping>
                        <line-height>0</line-height>
                    </properties>
                    <instance-variables>
                        <class></class>
                        <value>0</value>
                    </instance-variables>
                    <behavior-instances>
                        <behavior-instance type="Flash" />
                    </behavior-instances>
                    <blend-mode>0</blend-mode>
                    <effect-fallback>0</effect-fallback>
                    <world>
                        <x>32</x>
                        <y>32</y>
                        <z>0</z>
                        <width>160</width>
                        <height>64</height>
                        <depth>0</depth>
                        <hotspotX>0</hotspotX>
                        <hotspotY>0</hotspotY>
                        <angle>0</angle>
                        <opacity>1</opacity>
                    </world>
                </instance>
            </instances>
            <effects />
        </layer>
        <layer name="transition" sid="793476318269226">
            <initially-visible>1</initially-visible>
            <background-color>0,0,0</background-color>
            <transparent>0</transparent>
            <parallax>
                <x>0</x>
                <y>0</y>
            </parallax>
            <zoom-rate>1</zoom-rate>
            <opacity>1</opacity>
            <force-own-texture>0</force-own-texture>
            <global>1</global>
            <use-render-cells>0</use-render-cells>
            <blend-mode>0</blend-mode>
            <effect-fallback>0</effect-fallback>
            <instances />
            <effects />
        </layer>
    </layers>
    <nonworld-instances>
        <instance type="times" uid="73">
            <properties>
                <width>9</width>
                <height>3</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="interface_languages" uid="39">
            <properties>
                <width>3</width>
                <height>20</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="background_settings" uid="42">
            <properties>
                <width>9</width>
                <height>7</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="heart_settings" uid="43">
            <properties>
                <width>9</width>
                <height>3</height>
                <depth>1</depth>
            </properties>
        </instance>
        <instance type="ary_of_game_save_difficult" uid="103">
            <properties>
                <width>3</width>
                <height>2</height>
                <depth>1</depth>
            </properties>
        </instance>
    </nonworld-instances>
    <effects />
</c2layout>
