<?xml version="1.0" encoding="utf-8" ?>
<c2eventsheet>
    <!--All the 'name' attributes are ignored by Construct 2 - they are there for readability only.-->
    <name>menu</name>
    <events>
        <include>transitition</include>
        <include>buttons</include>
        <include>debug</include>
        <include>storage</include>
        <comment></comment>
        <comment>плавный переход</comment>
        <comment></comment>
        <comment></comment>
        <event-block sid="825287337974441">
            <conditions>
                <condition id="-2" name="On start of layout" sid="359347887710948" type="System" />
            </conditions>
            <actions>
                <action id="0" name="Call function" sid="215399601562896" type="function">
                    <param id="0" name="Name">&quot;set_transition_state&quot;</param>
                    <param id="1" name="Parameter {n}">&quot;off&quot;</param>
                </action>
            </actions>
        </event-block>
        <comment></comment>
        <comment></comment>
        <comment>Установка значений при начале новой игры. Если жизней 9 - значит новая игра. </comment>
        <event-block sid="366884574838872">
            <conditions>
                <condition id="-2" name="On start of layout" sid="770765871062298" type="System" />
                <condition id="-14" name="Compare variable" sid="925849091642859" type="System">
                    <param id="0" name="Variable">heart</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">9</param>
                </condition>
            </conditions>
            <actions>
                <action disabled="1" id="-9" name="Set value" sid="138207952439341" type="System">
                    <param id="0" name="Variable">transition</param>
                    <param id="1" name="Value">&quot;on&quot;</param>
                </action>
                <action id="-9" name="Set value" sid="588788692495661" type="System">
                    <param id="0" name="Variable">wow_save</param>
                    <param id="1" name="Value">3</param>
                </action>
                <action id="0" name="Set item" sid="590468953771502" type="LocalStorage">
                    <param id="0" name="Key">&quot;wow_save&quot;</param>
                    <param id="1" name="Value">wow_save</param>
                </action>
                <action id="-9" name="Set value" sid="334775232257011" type="System">
                    <param id="0" name="Variable">game_save</param>
                    <param id="1" name="Value">3</param>
                </action>
                <action id="0" name="Set item" sid="337684832916131" type="LocalStorage">
                    <param id="0" name="Key">&quot;game_save&quot;</param>
                    <param id="1" name="Value">game_save</param>
                </action>
                <action id="-9" name="Set value" sid="654785644428545" type="System">
                    <param id="0" name="Variable">coin_save</param>
                    <param id="1" name="Value">2</param>
                </action>
                <action id="0" name="Set item" sid="647306906074025" type="LocalStorage">
                    <param id="0" name="Key">&quot;coin_save&quot;</param>
                    <param id="1" name="Value">coin_save</param>
                </action>
                <action id="-9" name="Set value" sid="886160745683490" type="System">
                    <param id="0" name="Variable">total_distance</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Set item" sid="997682027904159" type="LocalStorage">
                    <param id="0" name="Key">&quot;total_distance&quot;</param>
                    <param id="1" name="Value">total_distance</param>
                </action>
                <action id="-9" name="Set value" sid="813287748047702" type="System">
                    <param id="0" name="Variable">state_game</param>
                    <param id="1" name="Value">&quot;menu&quot;</param>
                </action>
                <action id="0" name="Set item" sid="239184574978274" type="LocalStorage">
                    <param id="0" name="Key">&quot;state_game&quot;</param>
                    <param id="1" name="Value">state_game</param>
                </action>
            </actions>
        </event-block>
        <comment></comment>
        <event-block sid="115006275452474">
            <conditions>
                <condition id="-2" name="On start of layout" sid="429278399479327" type="System" />
                <condition id="-7" name="Compare instance variable" sid="908180194902713" type="sf76_white">
                    <param id="0" name="Instance variable">class</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">&quot;heart&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="0" name="Set text" sid="708393219461812" type="sf76_white">
                    <param id="0" name="Text">heart</param>
                </action>
                <action behavior="Bullet" id="0" name="Set speed" sid="241815703301884" type="bg_windows2">
                    <param id="0" name="Speed">0</param>
                </action>
                <action behavior="Bullet" id="0" name="Set speed" sid="831019373066132" type="buildings2">
                    <param id="0" name="Speed">0</param>
                </action>
            </actions>
        </event-block>
        <comment>Обработка запуска игры - переход к уровням</comment>
        <event-block sid="113284824696002">
            <conditions>
                <condition id="3" name="On touched object" sid="918619535315340" type="Touch">
                    <param id="0" name="Object">buttons</param>
                </condition>
                <condition id="-7" name="Compare instance variable" sid="810478271776279" type="buttons">
                    <param id="0" name="Instance variable">class</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">&quot;start&quot;</param>
                </condition>
                <condition id="-14" name="Compare variable" sid="241747779528832" type="System">
                    <param id="0" name="Variable">state_game</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">&quot;menu&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="5" name="Set frame" sid="365825203115839" type="buttons">
                    <param id="0" name="Frame number">buttons.AnimationFrame+1</param>
                </action>
                <action id="-16" name="Wait" sid="663582275124489" type="System">
                    <param id="0" name="Seconds">0.2</param>
                </action>
                <action id="5" name="Set frame" sid="506941944022143" type="buttons">
                    <param id="0" name="Frame number">buttons.AnimationFrame-1</param>
                </action>
                <action id="-16" name="Wait" sid="115745821135946" type="System">
                    <param id="0" name="Seconds">0.2</param>
                </action>
                <action id="0" name="Call function" sid="585230785960296" type="function">
                    <param id="0" name="Name">&quot;set_transition_state&quot;</param>
                    <param id="1" name="Parameter {n}">&quot;on&quot;</param>
                </action>
                <action id="-16" name="Wait" sid="797617195617446" type="System">
                    <param id="0" name="Seconds">1</param>
                </action>
                <action id="-2" name="Go to layout" sid="958093365954983" type="System">
                    <param id="0" name="Layout">levels</param>
                </action>
            </actions>
        </event-block>
        <comment>Обработка запуска игры, если игра была прервана на выборе уровня</comment>
        <event-block sid="881251777898750">
            <conditions>
                <condition id="3" name="On touched object" sid="240784936129218" type="Touch">
                    <param id="0" name="Object">buttons</param>
                </condition>
                <condition id="-7" name="Compare instance variable" sid="518005191776875" type="buttons">
                    <param id="0" name="Instance variable">class</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">&quot;start&quot;</param>
                </condition>
                <condition id="-14" name="Compare variable" sid="118760624631947" type="System">
                    <param id="0" name="Variable">state_game</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">&quot;change&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="5" name="Set frame" sid="629425052352034" type="buttons">
                    <param id="0" name="Frame number">buttons.AnimationFrame+1</param>
                </action>
                <action id="-16" name="Wait" sid="920766643266951" type="System">
                    <param id="0" name="Seconds">0.2</param>
                </action>
                <action id="5" name="Set frame" sid="897935678475414" type="buttons">
                    <param id="0" name="Frame number">buttons.AnimationFrame-1</param>
                </action>
                <action id="-16" name="Wait" sid="790288268652577" type="System">
                    <param id="0" name="Seconds">0.2</param>
                </action>
                <action id="0" name="Call function" sid="537928472388155" type="function">
                    <param id="0" name="Name">&quot;set_transition_state&quot;</param>
                    <param id="1" name="Parameter {n}">&quot;on&quot;</param>
                </action>
                <action id="-16" name="Wait" sid="622684577951992" type="System">
                    <param id="0" name="Seconds">1</param>
                </action>
                <action id="-2" name="Go to layout" sid="140348960545144" type="System">
                    <param id="0" name="Layout">change_save</param>
                </action>
            </actions>
        </event-block>
        <comment>Обработка запуска игры, если игра была прервана на Спасении за монетки</comment>
        <event-block sid="408343271579983">
            <conditions>
                <condition id="3" name="On touched object" sid="855019691051253" type="Touch">
                    <param id="0" name="Object">buttons</param>
                </condition>
                <condition id="-7" name="Compare instance variable" sid="434187140302006" type="buttons">
                    <param id="0" name="Instance variable">class</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">&quot;start&quot;</param>
                </condition>
                <condition id="-14" name="Compare variable" sid="173147201933765" type="System">
                    <param id="0" name="Variable">state_game</param>
                    <param id="1" name="Comparison">0</param>
                    <param id="2" name="Value">&quot;coin_save&quot;</param>
                </condition>
            </conditions>
            <actions>
                <action id="5" name="Set frame" sid="524686010069260" type="buttons">
                    <param id="0" name="Frame number">buttons.AnimationFrame+1</param>
                </action>
                <action id="-16" name="Wait" sid="190511964056773" type="System">
                    <param id="0" name="Seconds">0.2</param>
                </action>
                <action id="5" name="Set frame" sid="338587656616872" type="buttons">
                    <param id="0" name="Frame number">buttons.AnimationFrame-1</param>
                </action>
                <action id="-16" name="Wait" sid="622495729413294" type="System">
                    <param id="0" name="Seconds">0.2</param>
                </action>
                <action id="0" name="Call function" sid="338445761093607" type="function">
                    <param id="0" name="Name">&quot;set_transition_state&quot;</param>
                    <param id="1" name="Parameter {n}">&quot;on&quot;</param>
                </action>
                <action id="-16" name="Wait" sid="326786935190929" type="System">
                    <param id="0" name="Seconds">1</param>
                </action>
                <action id="-2" name="Go to layout" sid="221914228741243" type="System">
                    <param id="0" name="Layout">coin_save</param>
                </action>
            </actions>
        </event-block>
        <comment>ТЕСТОВАЯ ФУНКЦИЯ - удалить</comment>
        <event-block sid="391381377412738">
            <conditions>
                <condition id="17" name="On tap object" sid="583685738093298" type="Touch">
                    <param id="0" name="Object">heart</param>
                </condition>
            </conditions>
            <actions>
                <action id="-9" name="Set value" sid="198777898184562" type="System">
                    <param id="0" name="Variable">heart</param>
                    <param id="1" name="Value">9</param>
                </action>
                <action id="0" name="Set item" sid="956698297661831" type="LocalStorage">
                    <param id="0" name="Key">&quot;heart&quot;</param>
                    <param id="1" name="Value">9</param>
                </action>
                <action id="0" name="Set text" sid="705504436394612" type="sf76_white">
                    <param id="0" name="Text">heart</param>
                </action>
                <action id="-9" name="Set value" sid="955847042329196" type="System">
                    <param id="0" name="Variable">wow_save</param>
                    <param id="1" name="Value">3</param>
                </action>
                <action id="0" name="Set item" sid="357567727985886" type="LocalStorage">
                    <param id="0" name="Key">&quot;wow_save&quot;</param>
                    <param id="1" name="Value">wow_save</param>
                </action>
                <action id="-9" name="Set value" sid="254926197572472" type="System">
                    <param id="0" name="Variable">game_save</param>
                    <param id="1" name="Value">3</param>
                </action>
                <action id="0" name="Set item" sid="364125425302889" type="LocalStorage">
                    <param id="0" name="Key">&quot;game_save&quot;</param>
                    <param id="1" name="Value">game_save</param>
                </action>
                <action id="-9" name="Set value" sid="838190835461295" type="System">
                    <param id="0" name="Variable">coin_save</param>
                    <param id="1" name="Value">2</param>
                </action>
                <action id="0" name="Set item" sid="223759557015713" type="LocalStorage">
                    <param id="0" name="Key">&quot;coin_save&quot;</param>
                    <param id="1" name="Value">coin_save</param>
                </action>
                <action id="-9" name="Set value" sid="197977221674954" type="System">
                    <param id="0" name="Variable">total_distance</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Set item" sid="267781053823815" type="LocalStorage">
                    <param id="0" name="Key">&quot;total_distance&quot;</param>
                    <param id="1" name="Value">total_distance</param>
                </action>
                <action id="-9" name="Set value" sid="715355219816154" type="System">
                    <param id="0" name="Variable">state_game</param>
                    <param id="1" name="Value">&quot;menu&quot;</param>
                </action>
                <action id="0" name="Set item" sid="472006584922356" type="LocalStorage">
                    <param id="0" name="Key">&quot;state_game&quot;</param>
                    <param id="1" name="Value">state_game</param>
                </action>
                <action id="-9" name="Set value" sid="672523163828160" type="System">
                    <param id="0" name="Variable">coins_count</param>
                    <param id="1" name="Value">0</param>
                </action>
                <action id="0" name="Set item" sid="667207240509661" type="LocalStorage">
                    <param id="0" name="Key">&quot;coins&quot;</param>
                    <param id="1" name="Value">coins_count</param>
                </action>
            </actions>
        </event-block>
    </events>
</c2eventsheet>
